-# %div{:class => "w3-container>"}
%div
  %h1.center-align Tools#index
  ="tool count: #{@tools.count}"
  %p i can be clicked away
  %br
  %table.highlight.cenered
    %thead
      %tr
        %th
        %th name
        %th quantity
        %th brand
    - i=1
    -@tools.each do |tool|
      %tr
        %td
          ="#{i})"
        %td
          =tool.name
        %td
          =tool.quantity
        - i=i+1

  = button_to 'new tools', new_tool_path, :class =>"btn", :method => :get
