%h1 Tools#new
= form_for @tool do |t|
  -# =t.hidden_field :user_id

  =t.label :name
  =t.text_field :name

-# %form{:action => "#"}
-#   %p
-#     %label
-#       %input{:type => "checkbox"}
-#       %span Red

= button_to 'All Tools', tools_path, :class => "Button", :method => :get
